<section class="about-about">
    <div class="container-fluid about-current">
        <div class="row">
            <div class="col col-bg p-0"></div>
            <div class="col-md-7">
                <div class="row border-center-item d-flex justify-content-center align-items-center">
                    <div class="about-about-text">
                        <p class="text-uppercase">
                            Проект уже поддержали
                        </p>
                    </div>
                </div>
                <div class="row border-center-item d-flex flex-nowrap" id="aboutArtistList">
                    <div class="artist px-0">
                        <a href="javascript:void(0)">
                            <p class="artist-name">Айдан<br>Салахова</p>
                            <div class="artist-ava" style="background-image:url(/img/artist_1.jpg)"></div>
                            <p class="artist-loc">Москва/<br>Каррара</p>
                        </a>
                    </div>
                    <div class="artist px-0">
                        <a href="javascript:void(0)">
                            <p class="artist-name">Игорь<br>Скалецкий</p>
                            <div class="artist-ava" style="background-image:url(/img/artist_2.jpg)"></div>
                            <p class="artist-loc">Москва/<br>Берлин</p>
                        </a>
                    </div>
                    <div class="artist px-0">
                        <a href="javascript:void(0)">
                            <p class="artist-name">Паулин<br>Марсель</p>
                            <div class="artist-ava" style="background-image:url(/img/artist_3.jpg)"></div>
                            <p class="artist-loc">Вена</p>
                        </a>
                    </div>
                    <div class="artist px-0">
                        <a href="javascript:void(0)">
                            <p class="artist-name">Маркус<br>Бахер</p>
                            <div class="artist-ava" style="background-image:url(/img/artist_4.jpg)"></div>
                            <p class="artist-loc">Вена</p>
                        </a>
                    </div>
                    <div class="artist px-0">
                        <a href="javascript:void(0)">
                            <p class="artist-name">Виктория<br>Пидуст</p>
                            <div class="artist-ava" style="background-image:url(/img/artist_5.jpg)"></div>
                            <p class="artist-loc">Берлин</p>
                        </a>
                    </div>
                    <div class="artist px-0">
                        <a href="javascript:void(0)">
                            <p class="artist-name">Вова<br>Перкин</p>
                            <div class="artist-ava" style="background-image:url(/img/artist_6.jpg)"></div>
                            <p class="artist-loc">Москва</p>
                        </a>
                    </div>
                    <div class="artist px-0">
                        <a href="javascript:void(0)">
                            <p class="artist-name">Том<br>Штрайт</p>
                            <div class="artist-ava" style="background-image:url(/img/artist_7.jpg)"></div>
                            <p class="artist-loc">Вена</p>
                        </a>
                    </div>
                </div>
                <div class="row border-center-item d-flex justify-content-center align-items-center">
                    <p class="text-center mt-4 mb-5 pb-3 desktop">
                        a также художники<br>со всего мира
                    </p>
                    <svg class="mobile mt-4 mb-5" width="50" height="13" viewBox="0 0 50 13" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <line x1="46" y1="6.5" x2="5" y2="6.5" stroke="#5F48E9" stroke-width="3" />
                        <path d="M50 6.5L41 12.1292V0.870835L50 6.5Z" fill="#5F48E9" />
                        <path d="M0 6.5L9 0.870834V12.1292L0 6.5Z" fill="#5F48E9" />
                    </svg>

                </div>
            </div>
            <div class="col col-bg p-0"></div>
        </div>
    </div>
</section>