<section class="about-about">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-bg p-0"></div>
            <div class="col-md-7">
                <div class="row border-center-item border-bottom-item">
                    <div class="about-about-text">
                        <p class="text-uppercase">
                            I AM ARTIST дает реальный шанс художникам заявить о себе. Чтобы принять участие в отборе,
                            оставьте заявку на страничке проекта. Вы получите подробную инструкцию и ссылку на загрузку
                            работ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col col-bg p-0"></div>
        </div>
    </div>
</section>