<section class="about-about">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-bg p-0"></div>
            <div class="col-md-7">
                <div class="row border-center-item d-flex justify-content-center align-items-center">
                    <div class="about-about-text">
                        <p class="text-uppercase">
                            I AM ARTIST — это площадка, где художники могут представить свое искусство и
                            продавать его без комиссии.
                        </p>
                        <p class="text-uppercase">
                            А мы, в свою очередь, займемся его&#160;продвижением.
                        </p>
                    </div>
                </div>
                <div class="row border-center-item border-top-item">
                    <div class="col-md-6 border-right-item border-mob-x-none about-targets">
                        <p class="about-headline text-uppercase">(1) Цель</p>
                        <p>Дать возможность художникам продавать работы в период кризиса по новой системе</p>
                    </div>
                    <div class="col-md-6 about-targets border-top-mob-item">
                        <p class="about-headline text-uppercase">(2) Цель</p>
                        <p>Дать консьюмерам возможность приобрести доступное искусство, которое вырастет в цене</p>
                    </div>
                </div>
                <div class="row border-center-item border-top-item">
                    <div class="col-md-6 border-right-item border-mob-x-none about-targets">
                        <p class="about-headline text-uppercase">(3) Цель</p>
                        <p>При поддержке брендов и медиа привлечь внимание к современному российскому и зарубежному
                            искусству</p>
                    </div>
                    <div class="col-md-6 about-targets border-top-mob-item">
                        <p class="about-headline text-uppercase">(4) Цель</p>
                        <p>Дать художникам возможность испытать себя в создании контента и самопрезентации в
                            диджитал-среде</p>
                    </div>
                </div>

                <div class="row border-center-item border-top-item text-center about-circles">
                    <svg viewBox="0 0 410 416" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M408.5 117.5C408.5 149.178 386.085 178.149 349.211 199.284C312.379 220.395 261.396 233.5 205 233.5C148.604 233.5 97.6212 220.395 60.789 199.284C23.9153 178.149 1.5 149.178 1.5 117.5C1.5 85.8215 23.9153 56.8513 60.789 35.7163C97.6212 14.6052 148.604 1.5 205 1.5C261.396 1.5 312.379 14.6052 349.211 35.7163C386.085 56.8513 408.5 85.8215 408.5 117.5Z"
                            stroke="#5F48E9" stroke-width="3" />
                        <path
                            d="M333 207.492C220.538 163.881 152.58 184.68 75 207.492C90.8368 216.661 139.47 235 207.308 235C275.145 235 319.368 216.661 333 207.492Z"
                            fill="#5F48E9" />
                        <path
                            d="M408.5 298.5C408.5 330.178 386.085 359.149 349.211 380.284C312.379 401.395 261.396 414.5 205 414.5C148.604 414.5 97.6212 401.395 60.789 380.284C23.9153 359.149 1.5 330.178 1.5 298.5C1.5 266.822 23.9153 237.851 60.789 216.716C97.6212 195.605 148.604 182.5 205 182.5C261.396 182.5 312.379 195.605 349.211 216.716C386.085 237.851 408.5 266.822 408.5 298.5Z"
                            stroke="#5F48E9" stroke-width="3" />
                    </svg>
                    <div class="about-circles-artist">
                        <p class="about-headline text-uppercase">Художники</p>
                        <p>Получают неограниченный доступ к аудитории</p>
                    </div>
                    <div class="about-circles-consumer">
                        <p class="about-headline text-uppercase">Консьюмеры</p>
                        <p>Получают возможность приобрести искусство, которое вырастет в цене</p>
                    </div>
                </div>

                <div
                    class="row border-center-item border-y-item border-mob-top-none about-advantages justify-content-between">
                    <div class="col col-12 col-sm-4 text-center">
                        <p class="about-headline text-uppercase">1200€</p>
                        <p>Максимальная стоимость работы</p>
                    </div>
                    <div class="col col-12 col-sm-4 text-center">
                        <p class="about-headline text-uppercase">100%</p>
                        <p>От продаж получает художник </p>
                    </div>
                    <div class="col col-12 col-sm-4 text-center">
                        <p class="about-headline text-uppercase">10</p>
                        <p>Работ от одного художника максимум</p>
                    </div>
                    <div class="col col-12 col-sm-4 text-center">
                        <p>Упаковка за счет художника</p>
                    </div>
                    <div class="col col-12 col-sm-4 text-center about-arrow">
                        <svg class="desktop" width="144" height="19" viewBox="0 0 144 19" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <line x1="10" y1="9.5" x2="134" y2="9.49999" stroke="#5F48E9" stroke-width="3" />
                            <path d="M0 9.5L14.25 1.27276L14.25 17.7272L0 9.5Z" fill="#5F48E9" />
                            <path d="M144 9.5L129.75 17.7272V1.27276L144 9.5Z" fill="#5F48E9" />
                        </svg>
                        <svg class="mobile" width="13" height="50" viewBox="0 0 13 50" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <line x1="6.5" y1="46" x2="6.5" y2="5" stroke="#5F48E9" stroke-width="3" />
                            <path d="M6.5 50L0.870834 41H12.1292L6.5 50Z" fill="#5F48E9" />
                            <path d="M6.5 0L12.1292 9H0.870835L6.5 0Z" fill="#5F48E9" />
                        </svg>

                    </div>
                    <div class="col col-12 col-sm-4 text-center">
                        <p>Доставка за счет покупателя</p>
                    </div>
                </div>
            </div>
            <div class="col col-bg p-0"></div>
        </div>
    </div>
</section>