<section class="main-about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md col-sm-12 col-xs-12 col-bg p-0"></div>
            <div class="col-md-7 col-sm-12 border-center-item d-flex justify-content-center align-items-center">
                <div class="main-about-text">
                    <p class="text-uppercase">
                        Проект I AM ARTIST создан для поддержки молодых художников, консьюмеров и всех неравнодушных к
                        современному искусству.
                    </p>
                    <p class="font-weight-normal">
                        Загружая свои работы, вы получаете возможность продаваться в поп-ап галерее <span class="mobile-inline-block">I AM ARTIST</span>, а лучшие
                        художники получат шанс реализовать свой проект на площадке WHO I AM Gallery.
                    </p>
                </div>
            </div>
            <div class="col-md col-bg p-0 d-none d-md-block"></div>
        </div>
    </div>
</section>