<section class="manifest-about">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-bg p-0"></div>
            <div class="col-md-7 border-center-item d-flex justify-content-center align-items-center">
                <div class="manifest-about-text">
                    <span class="d-block h2 text-uppercase mb-4">Манифест</span>
                    <p>
                        Неопределенность и кризис вызывают дискомфорт. Но именно во времена кризиса рождаются самые
                        яркие визионерские идеи, которые меняют мир. И почему-то именно во времена кризиса мы меньше
                        думаем о насущном, и больше — о вечном. Ведь наши чувства и эмоции никуда не уходят, вне
                        зависимости от того, в какое время мы живем. Любовь, радость, восторг, страх, гнев, печаль,
                        любопытство, скука — все они одинаково ценны.
                    </p>
                    <p>
                        Вне зависимости от того, говорит искусство с нами на языке разума или чувств, оно всегда
                        нацелено на то, чтобы вызывать эмпатию. В наших же интересах развивать этот природный дар, ведь
                        в интеллектуальной гонке мы уже достигли точки невозврата и уступили роботам и алгоритмам. Но
                        чувства — это то, что отличает нас в конкурентной борьбе.
                    </p>
                    <p>
                        Текущий кризис может опрокинуть общество в пропасть, а может возвысить на совершенно новый
                        уровень. Давайте не забывать, что это только в нашей власти. Хотим мы выйти из положения
                        разбитыми, подавленными и злыми или вдохновленными, благодарными, внимательными, с новыми
                        смелыми идеями?
                    </p>
                    <p>
                        У проекта I AM ARTIST простая цель: поддержать российских и зарубежных художников, а также
                        создать новое пространство для коммуникации между теми, кто создает искусство и теми, кто
                        поддерживает его. Мы призываем каждого внести свой вклад. Ведь если не поддерживать искусство
                        сейчас, то что поддержит нас, когда мы снова потеряем все опоры?
                    </p>
                    <div class="social-network mt-5">
                        <div class="ya-share2" data-services="vkontakte,twitter,facebook,telegram"></div>
                    </div>
                </div>
            </div>
            <div class="col col-bg p-0"></div>
        </div>
    </div>
</section>