<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 m-auto">
            <div class="list-group">
                <a href="#login-popup" class="list-group-item open-popup-link">Вход</a>
                <a href="#subscription-success-popup" class="list-group-item open-popup-link">Спасибо за подписку</a>
                <a href="#subscription-success-popup2" class="list-group-item open-popup-link">Инструкция</a>
                <a href="#arsist-popup" class="list-group-item open-popup-link">Я художник</a>
            </div>
        </div>
    </div>
</div>