<section class="works-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 m-auto works-wrapper px-md-0">
                <div class="row works-list">
                    <div class="col-lg-4 works-item">
                        <div class="works-image" style="background-image: url('/img/works.jpg');">
                            <a href="/public/work.html" class="open-popup-work"></a>
                        </div>
                        <a href="/public/work.html" class="open-popup-work works-title">Название</a>
                        <a href="/profile.html" class="works-author">Иван Иванов</a>
                        <span class="works-price">17 500₽</span>
                    </div>
                    <div class="col-lg-4 works-item">
                        <div class="works-image" style="background-image: url('/img/works.jpg');">
                            <a href="/work.html"></a>
                        </div>
                        <a href="/work.html" class="works-title">Название</a>
                        <a href="/profile.html" class="works-author">Иван Иванов</a>
                        <span class="works-price">17 500₽</span>
                    </div>
                    <div class="col-lg-4 works-item">
                        <div class="works-image" style="background-image: url('/img/works.jpg');">
                            <a href="/public/work.html" class="open-popup-work"></a>
                        </div>
                        <a href="/public/work.html" class="open-popup-work works-title">Название</a>
                        <a href="/profile.html" class="works-author">Иван Иванов</a>
                        <span class="works-price">17 500₽</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>