<section class="profile-video">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-bg p-0"></div>
            <div
                class="col-md-7 border-center-item border-bottom-item d-flex justify-content-center align-items-center px-0">
                <!-- video is always 100% height and width by default -->
                <!-- video classes: video-fill, video-cover, video-contain -->
                <video width="100%" height="100%" controls class="video-fill">
                    <source src="public/video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col col-bg p-0"></div>
        </div>
    </div>
</section>

<section class="profile-about">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-bg p-0"></div>
            <div class="col-md-7 border-center-item justify-content-center align-items-center profile-inner">
                <div class="row profile-about-text">
                    <div class="col-sm-5 mb-3">
                        <div class="profile-avatar">
                            <img src="https://www.figma.com/file/RnYfmuX8EXM0redPfyFZq9/image/61a5a973df4e12f77e0a63617d53a43a1012d6c2"
                                alt="">
                        </div>
                    </div>
                    <div class="col-sm-6 offset-sm-1">
                        <span class="d-block h2 text-uppercase mb-4 mt-1">Иван Иванов</span>
                        <p>
                            Загружая свои работы, вы получаете возможность продаваться в онлайн-галерее I AM /
                            ARTIST, а
                            лучшие художники получат шанс реализовать свой проект на площадке WHO I AM Gallery
                        </p>
                    </div>
                </div>
                <div class="row profile-about-cv pt-4">
                    <div class="col-12">
                        <p>CV</p>
                    </div>
                    <div class="col-sm-5">
                        <p>2020 – WHO I AM Gallery –<br>персональная выставка</p>
                        <p>2020 – WHO I AM Gallery –<br>персональная выставка</p>
                        <p>2020 – WHO I AM Gallery –<br>персональная выставка</p>
                    </div>
                    <div class="col-sm-6 offset-sm-1">
                        <p>2020 – WHO I AM Gallery –<br>персональная выставка</p>
                        <p>2020 – WHO I AM Gallery –<br>персональная выставка</p>
                    </div>
                </div>
            </div>
            <div class="col col-bg p-0"></div>
        </div>
    </div>
</section>