<section class="single-work">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md col-sm-12 col-xs-12 col-bg p-0"></div>
            <div class="col-md-7 col-sm-12 border-center-item p-0">
                <div class="popup-work-slider">
                    <div class="align-items-center d-flex justify-content-start pl-3 like-container">
                        <a href="javascript:void(0);">
                                <span class="like-icon active">
                                    <svg width="22" height="20" viewBox="0 0 22 20" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
<path d="M9.73133 4.14198L10.8708 5.76517L12.1225 4.22692C12.3401 3.95954 12.507 3.73971 12.6511 3.54985C12.902 3.21928 13.084 2.97959 13.3445 2.73801C14.6074 1.57965 15.991 1.31052 17.152 1.61812C18.3255 1.92904 19.4828 2.8874 20.1338 4.6021L20.1342 4.60319C20.8612 6.51343 20.4555 8.31563 19.3296 10.2664C17.8845 12.76 15.8073 14.7251 13.4358 16.5872C12.6538 17.1986 11.8287 17.7791 10.9821 18.3488C8.0703 16.3914 5.45549 14.2262 3.42124 11.4473L3.42097 11.4469C2.17996 9.75266 1.40787 8.09716 1.50889 6.21601L1.50891 6.21601L1.50926 6.20875C1.55905 5.18937 1.9671 3.95128 2.72104 3.00735C3.44437 2.10176 4.44672 1.50146 5.79909 1.52966L5.79971 1.52967C7.20538 1.55841 8.32546 2.17783 9.24928 3.44163L9.2564 3.45138L9.26368 3.46101C9.35852 3.58646 9.41396 3.67068 9.48555 3.77945C9.54538 3.87035 9.6165 3.9784 9.73133 4.14198Z"
      stroke="#5F48E9" stroke-width="3"/>
</svg>
                                </span>
                        </a>
                        <span class="like-count">150</span>
                    </div>
                    <div class="popup-work-slider-preview" style="opacity: 1 !important;">
                        <div class="popup-work-slider-preview" id="workSliderPreview" style="opacity: 1 !important;">
                            <div class="popup-work-slider-item">
                                <img src="/img/works.jpg" alt="">
                            </div>
                            <div class="popup-work-slider-item">
                                <img src="/img/works.jpg" alt="">
                            </div>
                            <div class="popup-work-slider-item">
                                <img src="/img/works.jpg" alt="">
                            </div>
                            <div class="popup-work-slider-item">
                                <img src="/img/works.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="popup-work-slider-title">
                        <span>Название</span>
                    </div>
                    <div class="popup-work-slider-list left-align-slick" id="workSliderList" style="opacity: 1 !important;">
                        <div class="popup-slider-list-preview">
                            <img src="/img/works.jpg" alt="">
                        </div>
                        <div class="popup-slider-list-preview">
                            <img src="/img/works.jpg" alt="">
                        </div>
                        <div class="popup-slider-list-preview">
                            <img src="/img/works.jpg" alt="">
                        </div>
                        <div class="popup-slider-list-preview">
                            <img src="/img/works.jpg" alt="">
                        </div>
                    </div>
                    <div class="popup-work-slider-info">
                        <div class="row no-gutters">
                            <div class="col-md-5 col-sm-12">
                                <div class="popup-work-slider-info-video">
                                    <!--<div class="bordered-circle"></div>-->
                                    <!-- video is always 100% height and width by default -->
                                    <!-- video classes: video-fill, video-cover, video-contain -->
                                    <video width="100%" height="100%" controls class="video-fill">
                                        <source src="public/video.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12">
                                <div class="popup-work-slider-info-text">
                                    <p>
                                        Загружая свои работы, вы получаете возможность продаваться в онлайн-галерее
                                        <span
                                                class="mobile-inline-block">I AM /
                                ARTIST</span>, а
                                        лучшие художники получат шанс реализовать свой проект на площадке WHO I AM
                                        Gallery.
                                    </p>
                                    <p>
                                        /
                                    </p>
                                    <p>
                                        смещанная техника <br>
                                        акрил, масло
                                    </p>
                                    <p>
                                        150х150мм
                                        2020
                                    </p>
                                    <span class="work-price">17 500₽</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup-work-slider-buy">
                        <div class="row no-gutters">
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <a href="" class="default-btn">Купить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md col-bg p-0 d-none d-md-block"></div>
        </div>
    </div>
</section>
