<section class="subscription-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md col-line-bg d-none d-md-block"></div>
            <div class="col-md-7 border-center-item">
                <div class="subscription-form">
                    <p class="subscription-text">
                        СЛЕДИ ЗА ПРОЕКТОМ, УЗНАВАЙ О НОВЫХ САМОБЫТНЫХ ХУДОЖНИКАХ и подпишись на новости WHO I AM.
                    </p>
                    <form action="">
                        <div class="input-group justify-content-center mb-3">
                            <input type="email" name="email" placeholder="your@email.please">
                            <div class="input-group-append arrow_box">
                                <button class="btn btn-outline-secondary" type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md col-line-bg d-none d-md-block"></div>
        </div>
    </div>
</section>