@keyframes artistArrowCTA {
  0% {
    transform: translate3d(0, 0, 0);
  }
  16% {
    transform: translate3d(-10px, 0, 0);
  }
  33% {
    transform: translate3d(10px, 0, 0);
  }
  48% {
    transform: translate3d(-10px, 0, 0);
  }
  66% {
    transform: translate3d(10px, 0, 0);
  }
  84% {
    transform: translate3d(-10px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
