body {
  background-color: $primaryBgColor;
  color: $primaryColor;
  font: $primaryFont;
  font-weight: $primaryFontWeight;
  border: $defaultBorder;
}

a {
  color: $primaryColor;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

h1,
.h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
}

svg {
  width: 100%;
  // height: 100%;
}

.mobile-inline-block {
  display: inline-block;
}

.scroll-disabled {
  overflow: hidden;
}

.main-about {
  height: 387px;

  &-text {
    max-width: $blockMaxWidth;
    text-align: center;

    p {
      font-size: 22px;
      font-weight: 500;
    }
  }

  .col-bg {
    background: url('/img/main-about-bg.jpg') no-repeat;
    height: 387px;
    background-size: cover;
  }
}

.manifest-about {
  font-weight: normal;
  .manifest-about-text {
    padding: 84px 73px;
  }
  .manifest-about-text {
    text-align: center;
    h2,
    .h2 {
      font-size: 25px;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      margin-bottom: 20px;
      line-height: 32px;
    }
  }
}
.about-about {
  font-weight: normal;
  .about-about-text {
    max-width: 660px;
    padding: 70px 0;
  }
  .about-about-text {
    text-align: center;
    h2,
    .h2 {
      font-size: 25px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      margin-bottom: 20px;
      line-height: 32px;
    }
  }

  .about-targets {
    padding: 50px 20px;
    text-align: center;
    > * {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .about-headline {
    font-size: 22px;
  }
  .about-circles {
    padding: 80px 0;
    svg {
      max-width: 410px;
      margin: 0 auto;
      height: 100%;
      width: 100%;
    }
    .about-circles-artist,
    .about-circles-consumer {
      padding: 0 80px;
      width: 100%;
      * {
        max-width: 240px;
        margin: 0 auto;
      }
    }
    .about-circles-consumer {
      margin-top: -140px;
    }
    .about-circles-artist {
      margin-top: -345px;
    }
    .about-headline {
      margin-bottom: 10px;
    }
  }
  .about-advantages {
    padding: 45px;
    > .col {
      padding: 20px 0;
      > * {
        max-width: 200px;
        margin: 10px auto;
      }
      svg {
        margin-top: 0;
        &.desktop {
          max-width: 150px;
          display: block;
          margin-top: 15px;
        }
        &.mobile {
          max-height: 50px;
          display: none;
          margin-bottom: 0;
        }
      }
    }
  }
  .about-current {
    .artist {
      flex: auto;
      width: calc(100% / 7);
      p {
        text-align: center;
        padding: 0 10px;
        &.artist-name {
          max-height: 36px;
        }
        &.artist-loc {
          padding-top: 15px;
        }
      }
      .artist-ava {
        min-height: 190px;
        border: $defaultBorder;
        box-sizing: border-box;
        margin: 0 -1px;
        border-radius: 50% !important;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}
.btn-centered-block {
  height: 99px;
  border-top: $defaultBorder;
  border-bottom: $defaultBorder;

  &.single-work {
    height: 1px;
    border-top: 0;
  }

  .default-btn {
  }
}
.like-container {
  height: 45px;

  .like-icon {
    margin-right: 6px;

    &:hover,
    &.active {
      svg {
        fill: $primaryColor;
      }
    }
  }

  a {
    text-decoration: none;
  }
  .like-count {
    font-size: 18px;
    font-weight: 600;
  }
}

.works-section {
  padding: 107px 0;

  .section-title {
    margin-bottom: 107px;
  }

  .works-list {
    .works-item {
      text-align: center;
      font-size: 18px;
      margin-bottom: 34px;

      .like-container {
        border-top: $defaultBorder;
        border-right: $defaultBorder;
        border-left: $defaultBorder;
      }

      .works-image {
        border: $defaultBorder;
        transition: all ease 0.2s;
        min-height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        a {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          right: 0;
        }

        &:hover {
          transition: all ease 0.2s;
        }

        margin-bottom: 34px;
      }

      .works-title {
        text-transform: uppercase;
        display: block;
      }

      .works-author {
        display: block;
        font-weight: normal;
      }

      .works-price {
        margin-top: 20px;
        display: block;
        font-weight: normal;
      }
    }
  }
}

.arrow_box {
  position: relative;
  background: #fff;
  border: 3px solid #5f48e9;
}

.arrow_box:after,
.arrow_box:before {
  left: 0;
  top: 30%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 44px 94px;
  margin-top: -26px;
}

.arrow_box:before {
  border-color: rgba(95, 72, 233, 0);
  border-left-color: #5f48e9;
  border-width: 48px 100px;
  margin-top: -30px;
}

.border-y-item {
  border-top: $defaultBorder;
  border-bottom: $defaultBorder;
}
.border-top-item {
  border-top: $defaultBorder;
}
.border-top-mob-item {
  border-top: 0;
}
.border-top-bottom-item {
  border-bottom: 0;
}
.border-bottom-item {
  border-bottom: $defaultBorder;
}

.border-center-item {
  border-left: $defaultBorder;
  border-right: $defaultBorder;
}

.border-right-item {
  border-right: $defaultBorder;
}

.border-left-item {
  border-left: $defaultBorder;
}

.bordered-circle {
  width: 172px;
  height: 172px;
  border-radius: 50% !important;
  background-color: $primaryColor;
}

.left-align-slick > .slick-list > .slick-track {
  margin-left: 0;
}

.social-network {
  .ya-share2__container_size_m {
    .ya-share2__item {
      margin: 0 20px;
      &:first-child {
        margin-left: 0;
      }
      .ya-share2__badge {
        background-color: $primaryColor;
        border-radius: 50%;
        border-radius: 50% !important;
        padding: 4px;
      }
      .ya-share2__icon {
        height: 52px;
        width: 52px;
        background-size: 52px 52px;
        background-repeat: no-repeat;
      }
      &.ya-share2__item_service_facebook {
        .ya-share2__icon {
          background-size: 56px 56px;
        }
      }
      &.ya-share2__item_service_vkontakte {
        .ya-share2__icon {
          background-size: 60px 60px;
          background-position: -4px -3px;
        }
      }
    }
  }
}
