$primaryFontWeight: 600;
$primaryFontSize: 14px;
$primaryFontFamily: 'Montserrat', sans-serif;
$primaryFont: $primaryFontSize $primaryFontFamily;
$primaryBgColor: #fff;
$primaryColor: #5F48E9;
$linkColor: #000;
$linkHoverColor: rgba(0, 0, 0, .7);
$grayBg: #E5E5E5;
$borderGreyColor: #C4C4C4;
$colorDanger: #dc3545;
$defaultPadding: 35px;
$subHeaderActiveColor: #93302B;
$defaultBorderColor: #5F48E9;
$defaultBorder: 3px solid $defaultBorderColor;
$defaultWhiteBorder: 3px solid #fff;
$blockMaxWidth: 662px;
$inputPrimaryColor: rgba(95, 72, 233, 0.5);