input,
.input,
textarea {
  border: $defaultBorder;
  color: $inputPrimaryColor;
  outline: none;
  font-size: 25px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;


  &::-webkit-input-placeholder { /* Edge */
    color: $inputPrimaryColor;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $inputPrimaryColor;
  }

  &::placeholder {
    color: $inputPrimaryColor;
  }
}

input,
.input {
  max-width: 398px;
  padding: 31px 43px;
  text-align: center;
}