.header {
  border-bottom: $defaultBorder;
  border-top: $defaultBorder;
  position: fixed;
  width: calc(100% - 6px);
  background: #fff;
  z-index: 10;
  margin-top: -103px;
  @media (max-width: 768px) {
    margin-top: -73px;
  }

  &-item {
    height: 99px;
    border-right: $defaultBorder;
    text-transform: uppercase;
    text-align: center;
    width: 50%;

    &:first-child {
      border-right: 0;
    }

    &:nth-child(2) {
      //border-right: 0;
    }

    &:last-child {
      border-right: 0;
    }

    &-link {
      display: block;
      line-height: 99px;

      &.hovered {
        &:hover {
          background-color: $primaryColor;
          color: #fff;
          text-decoration: none;
        }
      }
    }

    &.right-item {
      a {
        border-right: $defaultBorder;
        width: 50%;

        &:last-child {
          border-right: 0;
        }
      }
    }
  }
}
