<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>
<body>
<%= require('../partials/top-menu.html') %>
<%= require('../partials/popups.html') %>
<%= require('../partials/footer.html') %>
</body>
</html>
